@import "./mixins.scss";
body {
  font: 400 15px Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
* {
  scroll-behavior: smooth !important;
}
.nav {
  display: flex;
  justify-content: center;
  min-height: 70px;
  position: relative;
  padding: 0.5rem 5% 0.5rem 5%;

  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    &-logo {
      height: auto;
      min-width: 120px;
      width: 140px;
      a {
        display: block;
      }
      img {
        margin-bottom: 0 !important;
      }
    }
    &-menu {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      justify-content: space-between;
      color: white;
      transition: 0.5s color, opacity ease;
      min-width: 600px;

      &-lang {
        user-select: none;
        border-radius: 8px;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
      }
      &-social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 150px;
        @include responsive($tablet) {
          width: 120px;
          margin: auto;
        }
        a {
          display: inline-flex;
        }
      }
      @include responsive($pc) {
        display: none;
      }
      @include responsive($tablet) {
        display: none;
      }
      a {
        &:hover {
          cursor: pointer;
          color: #6688bb;
        }
      }
    }
    &-hamburger {
      display: none;
      @include responsive($phone) {
        display: block;
      }
      div {
        &:hover {
          span {
            background-color: #6688bb !important;
          }
        }
      }
      &-open {
        background-color: #fffefc;
        opacity: 0.93;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 70px;
        color: #fffefc !important;
        z-index: 2;

        ul {
          padding-top: 1rem;
          margin-left: 0 !important;
          a {
            color: #113377;
            display: inline-block;
            width: 100%;
            padding: 7px 7px 7px 0;
            text-align: center;
            font-size: calc(1em + 2px);
            font-weight: 400;
            &:hover {
              cursor: pointer;
              color: #6688bb;
              background-color: #fffefc;
            }
          }
        }
      }
      &-close {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
.display-none {
  visibility: hidden;
  position: absolute;
}

.normal-header {
  position: fixed;
  z-index: 4;
  width: 100%;
  background: transparent !important;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  font-weight: 500;
  font-size: 1.3em;
}

.scroll-down {
  background-color: white;
  position: fixed;
  width: 100%;
  font-weight: 500;
  display: block;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  z-index: 4;
  font-size: 1.3em;
  top: 0;

  a {
    color: #113377;
    &:hover {
      cursor: pointer;
      color: #6688bb;
    }
    svg {
      color: currentColor;
    }
  }
}

.color-white {
  svg {
    color: white;
  }
}

.footer {
  iframe {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    width: 100%;
  }
  a {
    color: #f9f6f7;
    padding-bottom: 7px;
    text-align: center;
    font-size: calc(1em + 2px);
    font-weight: 400;
    margin-right: 5px;
    &:hover {
      cursor: pointer;
      color: #6688bb;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
    text-align: center;
    font-weight: 400;
    text-align: center;
  }
  p {
    color: #f9f6f7;
    text-align: center;
  }
  ul {
    margin: 0;
  }
  background-color: #232936;
  color: #fffefc;
  &-container {
    display: flex;
  }
  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1a1f28;
    align-items: center;
    justify-content: center;
  }
  &-logo {
    height: auto;
    min-width: 120px;
    width: 130px;
  }
}

.map {
  position: relative;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin: auto;
}

@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i} {
      margin: $margin;
    }
    .ml#{$i} {
      margin-left: $margin;
    }
    .mr#{$i} {
      margin-right: $margin;
    }
    .mt#{$i} {
      margin-top: $margin;
    }
    .mb#{$i} {
      margin-bottom: $margin;
    }
    .mx#{$i} {
      margin-left: $margin;
      margin-right: $margin;
    }
    .my#{$i} {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {
      padding: $padding;
    }
    .pl#{$i} {
      padding-left: $padding;
    }
    .pr#{$i} {
      padding-right: $padding;
    }
    .pt#{$i} {
      padding-top: $padding;
    }
    .pb#{$i} {
      padding-bottom: $padding;
    }
    .px#{$i} {
      padding-left: $padding;
      padding-right: $padding;
    }
    .py#{$i} {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}
@include padding-classes;

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
    &:before,
    &:after {
      border-radius: 50%;
      content: "";
      display: block;
      height: 20px;
      width: 20px;
    }
    &:before {
      animation: ball1 1s infinite;
      background-color: #113377;
      box-shadow: 30px 0 0 #ffffff;
      margin-bottom: 10px;
    }
    &:after {
      animation: ball2 1s infinite;
      background-color: #225599;
      box-shadow: 30px 0 0 #6688bb;
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ffffff;
    }
    50% {
      box-shadow: 0 0 0 #ffffff;
      margin-bottom: 0;
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ffffff;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #6688bb;
    }
    50% {
      box-shadow: 0 0 0 #6688bb;
      margin-top: -20px;
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #6688bb;
      margin-top: 0;
    }
  }
}

.container-404 {
  margin-top: 5rem !important;
  height: 65vh;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-text {
      font-size: 6rem;
      margin: 2rem;
      color: #113377;
    }
    &-broken {
      animation-name: baboli;

      transform-origin: bottom center;
      display: inline-block;
      color: #113377;
      animation-duration: 0.5s;
      animation-delay: 0.8s;

      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.14, 0.71, 0.29, 0.86);
    }
    &-title {
      font-size: 2rem;
      margin-top: 1rem;
      text-align: center;
      line-height: 2rem;
    }
  }
}
@keyframes baboli {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
