@import "./mixins.scss";

.d-flex {
  display: flex !important;

  &-row {
    flex-direction: row !important;
  }

  &-column {
    flex-direction: column !important;
  }

  &-center {
    align-items: center !important;
    justify-content: center !important;
  }

  &-align-center {
    align-items: center;
  }

  &-left {
    align-items: flex-start !important;
    justify-content: center !important;
  }

  &-space-between {
    justify-content: space-around !important;
  }
}

.divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  transition: inherit;
  border-color: white;
  width: 80%;
  margin: 1em;

  &-bold {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }
}

.container {
  height: calc(100vh - calc(100vh - 100%));
  min-height: -webkit-fill-available;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &-second {
    margin-bottom: 10rem !important;

    @include responsive($phone) {
      margin-bottom: 2rem !important;
    }

    &-text {
      letter-spacing: 1px;
      position: absolute;
      z-index: 3;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 36%;

      h1 {
        font-size: 54px !important;
        color: white;
        word-wrap: break-word;

        span {
          font-style: italic;
          font-weight: 400;
        }

        text-align: center;

        @media (max-width: 1024px) {
          font-size: 2.5em !important;
          padding: 5px;
        }
      }
    }
  }

  &-third {
    display: -ms-grid;
    display: grid;
    margin: 2%;
    gap: 3em;
    -ms-grid-columns: (minmax(10rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin-top: -12% !important;
    background-color: #ffff;

    img {
      object-fit: cover;
      width: 100%;
      max-width: 250px;
      max-height: 150px;

      &:hover {
        transform: scale(1.03);
      }
    }

    &-first {
      align-self: flex;
    }

    &-third {
      align-self: stretch;
    }

    &-img {
      max-width: 151px;
    }
  }

  &-fourth {
    display: grid;
    margin: 2%;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: transparent;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    &-first,
    &-second,
    &-third {
      background-color: white;
      min-height: 300px;
      padding: 2em;
      padding-bottom: 0;
    }
  }

  &-fifth {
    display: grid;
    padding: 2%;
    background-color: white !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    &-first {
      grid-column: 1/3;
    }

    &-second {
      display: flex;
      flex-direction: column;

      &-list {
        width: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1em;
      }
    }

    &-first,
    &-second,
    &-third {
      background-color: white;
      padding: 2em;
    }
  }

  &-seventh {
    display: grid;
    padding: 2%;
    background-color: white !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;

    &-first {
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      font-weight: 400;
      position: relative;
      transition: all 0.5s ease-in-out 0s;

      &:hover:after {
        opacity: 0.3 !important;
        z-index: 1;
      }

      &:after {
        content: "";
        display: block;
        height: 100% !important;
        left: 0;
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100% !important;
        z-index: -1;
        background: url("../images/seventhbg.png") no-repeat 0 0;
        background-size: cover;
        animation-name: zoom-fade;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: zoom-fade;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        transition: all 0.5s ease-in-out 0s;
      }
    }
  }

  &-eighth {
    background-size: cover;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    flex-wrap: wrap;

    &:after {
      content: "";
      display: block;
      height: 100% !important;
      width: 100% !important;
      left: 0;
      position: absolute;
      top: 0;
      background: url("../images/eighthbg.png");
      background-size: cover;
      animation-name: zoom-fade;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-name: zoom-fade;
      -webkit-animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      transition: all 0.5s ease-in-out 0s;
    }

    &-svg {
      max-width: 100%;
      background-color: #ffff;
      border-radius: 79% 21% 100% 0% / 0% 21% 79% 100%;
      padding-right: 5%;
      z-index: 2;
      flex: 1;
    }

    &-countup {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      flex: 2;
      padding: 0 50px 0 50px;

      @include responsive($phone) {
        padding: 0;
      }

      &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-size: 3em;
          text-transform: uppercase;
          line-height: 75px;
          margin: 0;
          font-weight: 400;
          display: flex;
          min-width: 250px;
          justify-content: center;

          &::before {
            content: "+";
            font-size: calc(1em - 10px);
            font-weight: 200;
            vertical-align: center;
            text-align: center;
          }
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }
}

.text-red {
  color: #ff414a;

  &-italic {
    color: #ff414a;
    font-style: italic;
  }
}

.role-button {
  display: inline-block;
  height: 36px;
  font-size: 14px;
  border-radius: 100px;
  background-color: #ff414a;
  color: #ffffff;
  width: 137.7px;
  text-align: center;
  align-self: center;
  line-height: 36px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #ee2c35;
    color: white !important;
  }
}

.text-align-center {
  text-align: center;
  margin: 0 0 10px 0em;
  padding: 0;
}

.border-shadow {
  border-radius: 8px;
  border: 1px solid #dadce0;
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
  box-sizing: border-box;
}

.section-1 {
  position: relative;
}

.section-6 {
  background: url("../images/parallax-5.jpg") rgba(51, 51, 51, 0.7);
  background-blend-mode: multiply;
  background-position: top center;
  height: 100%;
  flex-direction: column;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    text-align: center;
    font-weight: 700;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      font-size: 16px;
      text-align: center;
    }
  }
}

.section-7 {
  width: 100%;
  height: auto;
  background-size: cover;
}

.section-9 {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      text-align: center;
    }

    span {
      font-size: 1rem;
      text-align: center;
    }
  }

  padding: 0 60px 60px 60px;

  @include responsive($phone) {
    padding: 0 20px 0 20px;
  }

  background-color: #ffff;

  &-item {
    position: relative;
    outline: none !important;
    transition: transform 0.2s;
    /* Animation */
    margin: 0 10px 0 10px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    img {
      width: 100%;
      height: 50px;
      object-fit: scale-down;
    }
  }
}

.section-10 {
  background-color: #fff;
  padding: 2%;

  @include responsive($phone) {
    padding: 20px 0;
  }

  @include responsive($tablet) {
    padding: 20px 0;
  }

  h3 {
    text-align: center;
  }
}

.slick-prev,
.slick-next {
  margin-right: 25px;
  margin-left: 25px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-white::before {
  color: white !important;
}

@-webkit-keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes zoom-fade {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.glossary {
  display: flex;

  &-items {
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    &-str {
      align-self: stretch;
    }
  }

  &-letters {
    border-radius: inherit;
    text-align: right;
    background-color: white;
    line-height: 1.3 !important;
    display: flex;
    width: 50px;

    &-link-A {
      @extend .active;
    }

    ul {
      width: 100%;
      margin-left: 0 !important;

      li {
        width: 100%;
      }
    }

    a {
      color: #2b2b2b;
      display: block;

      &:not(.glossary-titles-active) {
        &:hover {
          color: #6688bb;
        }
      }
    }
  }

  &-titles {
    border-radius: inherit;
    position: relative;
    flex: 2;

    ul::-webkit-scrollbar {
      width: 5px;
      height: 0.5em;
    }

    ul::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    ul::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 100px;
      border: 1px solid #d8d8d8;
      max-height: 50px;
    }

    ul::-webkit-scrollbar-track {
      background: #d8d8d8;
      border-radius: 100px;
    }

    background-color: white;

    &-active {
      color: #113377;
      font-weight: bold;
      // &::after {
      //   content: "🕊";
      // }
    }

    &-group {
      font-size: 1.5em;
      color: #113377;
      font-weight: bold;
      position: sticky;
      background: white;
      top: 0 !important;
    }

    a {
      &:not(.glossary-titles-active) {
        &:hover {
          color: #6688bb;
        }
      }
    }

    ul {
      overflow-y: auto;
      height: 430px;
    }
  }

  &-content {
    background-color: white;
    flex: 2;

    dl {
      flex: 2;
    }

    h4 {
      margin-top: 2.9em;
    }

    &-container {
      &-title {
        padding-right: 7px;
        white-space: nowrap;
        font-weight: 700;
        position: relative;

        &-dots {
          position: absolute;
          right: 0;
          margin-left: 5px;
          display: inline-block;
          font-weight: bold;
        }

        // &:after {
        //   content: ":";
        // }
      }

      img {
        object-fit: contain;
        width: 150px;

        @include responsive($phone) {
          margin: auto;
        }
      }
    }

    ul {
      margin: 0;
    }

    a {
      &:hover {
        color: #6688bb;
      }
    }
  }
}

.active {
  background-color: #6688bb;
  color: white !important;
  border: solid;
  padding: 0 10px;
  border-radius: 0 10px 5px 0;
  transition: padding 0.11s ease;
}

.visible-bottom {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 5em;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 1.45rem;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chart-wrapper-is-mobile {
  display: none;

  @include responsive($phone) {
    display: block !important;
  }
}

.chart-wrapper {
  position: relative !important;
  transform: scale(0.8);
  height: 380px;
  margin-bottom: 4.9em;

  @include responsive($phone) {
    display: none;
  }

  iframe {
    position: absolute;
    top: 0;
    left: -12.8%;
    background-color: transparent !important;
  }
}

.stick {
  @media only screen and (min-width: 768px) {
    top: 8em;
    position: sticky;
  }
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero.is-fullheight {
  min-height: 100vh;
}

.hero {
  -moz-box-align: stretch;
  align-items: stretch;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;

  img {
    max-width: 100%;
  }
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}